$text: #e9e6e4;
$background: #14100d;
$primary: #ceb2a2;
$secondary: #744830;
$accent: #ca7e53;

// box shadow based on $background
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.05);

// font sizes
$font-small: 0.8em;
$font-medium: 1em;
$font-large: 1.2em;
$font-xlarge: 1.5em;
$font-xxlarge: 2em;
