/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html,
body {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(20, 16, 13, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.2em 0.5em;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}
header nav ul li:last-child a {
  background-color: #ca7e53;
  color: #e9e6e4;
}
header nav ul li:last-child a:hover {
  background-color: #ca7e53;
  color: #e9e6e4;
}
header nav ul li a {
  text-decoration: none;
  color: #e9e6e4;
  padding: 0.5em 0.8em;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 2rem;
  background-color: transparent;
}
header nav ul li a:hover {
  background-color: #e9e6e4;
  color: #14100d;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  height: 4em;
  margin-right: 0.9em;
}

/* Footer Styling */
footer {
  background-color: #14100d;
  color: #e9e6e4;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  width: 90%;
}
footer .footer-container img {
  width: 25%;
}
footer .footer-container p {
  font-size: 1.2em;
}
footer .footer-container h4 {
  margin-bottom: 30px;
}
footer .contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  width: 90%;
}
footer .contact-info p {
  font-size: 1.2em;
}
footer .contact-info p a {
  color: #ca7e53;
  text-decoration: none;
}
footer .contact-info p a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  background-color: #232323;
  height: 3em;
  text-align: center;
  color: #e9e6e4;
  font-size: 0.9em;
  padding-top: 0.7em;
}
footer .map-container {
  height: 150px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .map-container {
    grid-column: span 1;
    height: 200px;
  }
}
.whatsapp {
  position: fixed;
  background-color: #25d366;
  padding: 0.7rem;
  bottom: 1.2rem;
  right: 1.2rem;
  z-index: 9999;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(7, 94, 84, 0.6);
  will-change: auto;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.whatsapp:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}
.whatsapp svg {
  color: white;
  height: 100%;
  width: 100%;
}